[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.4"
redis = "*"
flask-cors = "*"
pymysql = "*"
sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
markupsafe = "==2.0.1"
requests = "*"
torchtext = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
jieba = "*"
transformers = "*"
sentencepiece = "*"
sacremoses = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
